
a {
    text-decoration: none;
}

#bio {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
body {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
main {
width: 300px;
margin-left: auto;
margin-right: auto;
}
hr {
    background-color: #CC5500;
}
footer {
    color: #ACACAC; 
    background-color: #3D655B;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    font-size: 12px;
}
footer a {
color: #ACACAC;
}
form {
    border: 4px double #7C0610;
    width: 200px;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
#gallery {
    display: grid;
    grid-template-columns: 1fr;
}
#gallery img {
    width: 300px;
    margin-top: 2em;
}
#heropic {
    width: 350px;
}
h1, h2 {
    font-family: 'Amatic SC', cursive;
}
main {
    font-family: 'Poppins', sans-serif;
    padding: 2em;
}
li a {
    text-decoration: none;
    display: block;
    color: #7C0610;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 12pt;
}
nav{
    padding: 0.25em;
    font-size: 18pt;
    height: 50px;
}
header img {
    height: 125px;
    justify-content: right;
}
section img {
    width: 200px;
}
article {
    /* width: 200px; */
}
#orders-table {
    margin-left: auto;
    margin-right: auto;
    font-size: 8pt;
}
#orders-table td {
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
  }
#orders-table th {
      font-weight: 800;
      font-family: 'Poppins', sans-serif;
} 
ul {
    list-style-type: none;
    text-align: center;
    padding: 0em;
}
.inventory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
.inventory div {
    margin: 0.5em;
    border: 2px solid #0a0903;
    width: 200px;
}
.inventory div img {
    width: 100px;
}
.inventory div:hover {
    box-shadow: #CC5500 15px 15px 40px;
}


@media only screen and (min-device-width: 768px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    #gallery img {
        width: 500px;
    }
#heropic {
    width: 740px;
}
main {
    width: 600px;
}
menu {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
nav {
    display: flex;
    justify-content: space-evenly;
} 
nav img {
    height: 65px;
    margin-left: -45px;
}
li a {
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 12pt;
}
#orders-table {
    font-size: 12pt;
}
#subscriptionH {
    font-size: 28pt;
}
body form {
    width: 500px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
body .inventory div {
    padding: 2em 2em 0em 2em;
    width: 300px;
}
body .inventory div img {
    width: 200px;
}
body footer {
    font-size: 16pt;
}
}
@media only screen and (min-width: 62.5em) {
    main #bio section {
        width: 600px
    }
    #gallery img {
        width: 800px;
    }
    section img {
        width: 400px;
    }
    #heropic {
        width: 1330px;
    }
    li a {
        font-size: 18pt;
    }
    nav img {
        height: 125px;
        margin-left: -125px;
    }

}