

.hidemenu {
    display: none;
}
a {
    text-decoration: none;
}
#parkreviews {
    margin-top: 2em;
    /* margin-left: auto;
    margin-right: auto; */
    border-style: solid;
  border-color: #CC4184;

 }
 #parkreviewbox {
    column-count: 2;
 }
 table {
     justify-content: left;
 }   

#bio {
    width: 300px;
    margin-top: 125px;
}
body {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
main {
width: 300px;
margin-left: auto;
margin-right: auto;
}
/* .subnav {
    opacity: 0;
    /* transform: scale(0); */
/* }
.subnav:hover {
    opacity: 1;
} */
body main article .subnav {
    padding-top: 3em;
}
 article .subnav a{
    padding: 2em;
 }
footer {
    color: #000000; 
    background-color: #BEDFC0;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    font-size: 12px;
}
footer a {
color: #000000;
}


#heropic {
    width: 350px;
}
h1, h2 {
    font-family: 'Amatic SC', cursive;
}
main {
    font-family: 'Poppins', sans-serif;
    padding: 2em;
    /* margin-top: 0.5em; */
}
a{
    color: #70B27E;
}
li a {
    text-decoration: none;
    display: block;
    color: #70B27E;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 12pt;
}
nav{
    padding: 0.5em;
    font-size: 18pt;
    height: 50px;
}
header {
    margin-bottom: 4em;
    padding-bottom: 2em;
}
header img {
    width: 200px;
}
article img {
    width: 200px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    text-align: center;
    padding: 0em;
}

#current {
    background-color: #BEDFC0;
    justify-content: center;
}
/* .hidemenu {
    display: block;
    margin-top: 2.5em;
    margin-left: -8em;
} */

@media only screen and (min-device-width: 768px) {
    #hamburger{
        display:none;
    }
    body {
        margin-left: auto;
        margin-right: auto;
    }
    body main section img {
        width: 600px;
    }
#heropic {
    width: 740px;
}
main {
    width: 600px;
}
main #parkreviews img {
    margin-right: auto;
    margin-left: 200px;
    width: 200px;
    display: block;
    padding: 0.5em;
    column-span: all;
}
menu {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
nav {
    display: flex;
    justify-content: space-evenly;
} 
nav img {
    height: fit-content;
    padding-right: 1em;
    margin-left: -45px;
}
li a {
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 12pt;
}

body form {
    width: 500px;
}
ul {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
   
}
/* main tbody #parkreviews tr {
    display: grid;
    grid-template-columns: 3fr;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto; } */

.hidemenu {
    display: block;
}

.inventory {
    grid-template-columns: 1fr 1fr;
}
body .inventory div {
    padding: 2em 2em 0em 2em;
    width: 300px;
}
body .inventory div img {
    width: 200px;
}
body footer {
    font-size: 16pt;
}
main section #parkreviewbox img {
    width: 400px;
    margin-left: 100px;
}
}
@media only screen and (min-width: 62.5em) {
    section img {
        width: 400px;
    }
    #heropic {
        width: 1330px;
    }
    li a {
        font-size: 18pt;
    }
    nav img {
        height: 125px;
        margin-left: -125px;
    }
    main #bio {
        width: 800px;
        margin-left: -100px;
    }
}